<div class="w-dvw h-dvh">
  <div class="w-dvw h-dvh flex justify-center items-center">
    <mat-card class="m-5" appearance="outlined">
      <mat-card-header>
        <mat-card-title><h1 class="font-bold text-5xl my-4">404</h1></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p class="text-2xl my-4">Oops! The page you're looking for doesn't exist.</p>
      </mat-card-content>
      <mat-card-actions>
        <button matButton routerLink="/">Go to Homepage</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>